.section-container {
    display: flex;
    box-sizing: border-box;
    justify-content: center; 
    flex-wrap: wrap;
    row-gap: 4em;
    padding: 3em 5em;
}

.figure-container{
    margin-left: -0.3em;
}

.summary-show {
    width: 700px;
    top: -15px;
    left: 230px;
    align-self: center;
    justify-self: stretch;
    margin-left: -1em;
    margin-right: 2em;
}

.show-info {
    height: fit-content;
    padding: 2em 1em;
    justify-self: center;
    background-color: #191B1C;
    border-radius: 1em;
}